.loginPage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px;
    background-color: #f1f1f1;
}

.headingText{
    width: 500px;
    letter-spacing: 0.25em;
    white-space: wrap;
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-align: center;
}

.formLogin {
    width: 40%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    text-align: center;
}

.errorMessage {
  color: red;
  font-weight: 600;
  margin: 0;
}

.link{
    text-align: right;
}

@media(max-width: 768px){
    .loginPage{
        flex-direction: column;
    }
    .formLogin {
        width: 80%;
    }
}