.wrapper {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.wordTypes {
  border-collapse: collapse;
  width: 30%;
}

.ipaTable {
  border-collapse: collapse;
  width: 96%;
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.rowTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
}

.rowIPATable {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: left;
}

.bodyTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
}

.bodyIPATable {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: left;
}

td {
  display: block;
}

.form {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  padding: 2rem;
  max-width: 50%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.errorMessage {
  color: red;
  font-weight: 600;
  margin: 0;
}

.notes {
  width: 100%;
  display: flex;
  background-color: #f1f1f1;
}

.noteItem {
  width: 100%;
  height: 400px;
  max-height: 100%;
  background-color: #ffe4f1;
  padding: 16px;
  position: relative;
}

.slide-hidden {
  display: none;
}

.btn-delete {
  cursor: pointer;
  width: 100%;
  height: 40px;
  text-align: right;
}

.number-text{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: 600;
}

.arrows {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 1rem 0;
}

.backHome {
  position: fixed;
  bottom: 8rem;
  right: 10px;
}

@media(max-width: 768px) {
  .wrapper {
    width: 100%;
    max-width: 800px;
  }

  .form {
    max-width: 100%;
  }

  .noteItem{
    height: auto;
  }
}