.wrapper {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.wordTypes {
  border-collapse: collapse;
  width: 50%;
}

.ipaTable {
  border-collapse: collapse;
  width: 96%;
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.rowTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  color: #000;
}

.rowIPATable {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: left;
  color: #000;
}

.bodyTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  color: #000;
}

.bodyIPATable {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: left;
  color: #000;
}

td {
  display: block;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  margin: 0.25rem;
}

.form {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  padding: 2rem;
  max-width: 50%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.errorMessage {
  color: red;
  font-weight: 600;
  margin: 0;
}

.notes {
  width: 100%;
  display: flex;
  background-image: url('../../assets/beach.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.noteItem {
  width: 100%;
  height: 400px;
  max-height: 100%;
  background: linear-gradient(to top left, #fff 35px, #ffe4f1 0);
  padding: 16px;
  border-radius: 8px;
  position: relative;
  color: #b76e79;
}

.noteItem:before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 85px;
  height: 40px;
  background: linear-gradient(to top left, transparent 50%, #ffcce5 0);
}

.slide-hidden {
  display: none;
}

.btn-delete {
  cursor: pointer;
  width: 100%;
  height: 40px;
  text-align: right;
}

.number-text{
  font-weight: 600;
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 1rem 0;
}

.textNote{

}

@media(max-width: 768px) {
  .wrapper {
    width: 100%;
    max-width: 800px;
  }

  .form {
    max-width: 100%;
  }

  .noteItem{
    height: auto;
  }
}