.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.wordTypes {
  border-collapse: collapse;
  width: 50%;
}

.ipaTable {
  border-collapse: collapse;
  width: 96%;
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.rowTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  color: #000;
}

.rowIPATable {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: left;
  color: #000;
}

.bodyTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  color: #000;
}

.bodyIPATable {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: left;
  color: #000;
}

td {
  display: block;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  margin: 0.25rem;
}

.form {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  padding: 2rem;
  max-width: 50%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.errorMessage {
  color: red;
  font-weight: 600;
  margin: 0;
}

.notes {
  width: 100%;
  display: flex;
  background-image: url('../../assets/beach.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.noteItem {
  width: 100%;
  max-height: 100%;
  background: rgba(255, 255, 255, 0.1);
  padding: 16px;
  position: relative;
  color: #fff;
}

.slide-hidden {
  display: none;
}

.btn-delete {
  cursor: pointer;
  width: 100%;
  height: 40px;
  text-align: right;
}

.number-text {
  font-weight: 600;
  color: #333;
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 1rem 0;
}

@media screen and (min-width: 820px) and (max-width: 912px) {
  .wrapper {
    width: 100%;
    max-width: 800px;
  }

  .form {
    max-width: 100%;
    width: 100%;
  }

  .noteItem {
    height: auto;
  }

  .noteItem:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 97px;
    height: 41px;
    background: linear-gradient(to top left, transparent 50%, #ffcce5 0);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .noteItem:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 111px;
    height: 62px;
    background: linear-gradient(to top left, transparent 50%, #ffcce5 0);
  }
}

@media screen and (max-width: 1024px) {
  .form {
    max-width: 70%;
    width: 100%;
  }
  .noteItem:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 46px;
    height: 35px;
    background: linear-gradient(to top left, transparent 50%, #ffcce5 0);
  }
}