.signupPage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px;
    background-color: #f1f1f1;
}

.signupPage > * {
    max-width: 100%;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.headingText{
    font-weight: 700;
    width: 500px;
    letter-spacing: 0.25em;
    white-space: wrap;
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-align: center;
}

.formSignup {
    width: 30%;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    text-align: center;
}

.errorMessage {
  color: red;
  font-weight: 600;
  margin: 0;
}

.link{
    text-align: right;
}

@media(max-width: 768px){
    .signupPage{
        flex-direction: column;
    }

    .headingText{
        font-weight: 700;
        width: auto;
        letter-spacing: 0.05em;
    }
    
    .formSignup {
        width: 100%;
        min-width: 200px;
    }
}